&pmi632_rgb {
    compatible = "qcom,tri-led";
    reg = <0xd000 0x100>;
    white {
        label = "white";
        pwms = <&pmi632_pwm 0 1000000>;
        led-sources = <0>;
        linux,default-trigger = "timer";
    };
    red {
        status="disabled";
    };
    green {
        status="disabled";
    };
    blue {
        status="disabled";
    };
};
